@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Mohave&family=Playball&family=Source+Sans+Pro:wght@200&family=Tangerine:wght@700&display=swap');


body {
  font-family: 'mohave' , sans-serif;
}

body {
  height : 100VH;
  margin: 0;
  display: flex;
  background-attachment: fixed, fixed;
  background-image: url("img/background.gif");
  background-position: top left, center center;
  background-repeat: repeat, no-repeat;
  background-size: auto, cover;
  height: 100%;
  left: 0;
  top: 0;
  width: 100%;
  justify-content: center;
  align-items: center;
  
}

#img_gmail {
  height: 30px;
  vertical-align: middle;
}


#card{
  display: flex;
  flex-direction: row;
  text-align: center;
  align-self: center;
  width: 70%;
  height: auto;
  margin-left: 15%;
  margin-top: 3%;
  opacity: 90%;
}

#CITATIONS{
  display: flex;
  text-align: center;
  margin-top: 10px;
  flex-direction: column;
  border: 5px 5px 5px 5px solid blue;
}

#leftpart{
  height: auto;
  flex-direction: row;
  align-items: center;
  text-align: center;
  background-color: #B2B8B6;
  padding: 15px;
  border-radius: 40px 0px 0px 40px;
  display: grid;
}
#profilpic{
    flex: 0 0 50%;
    display: flex;
    margin-left: 20%;
}

#profilpic img {
	height:150px;
	background-image: url('../cvv/img/profile_pic.jpeg');
	background-position: center;
	background-size:cover;
  border-radius: 20px;
  opacity: 100%;
  margin-left: 20px;
}

#name{
  flex: 0 0 50%;
  font-family: 'Francois One' ;
  font-size: 1.5em;
}

#skills {
  flex-direction: row;
  display: inline-flex;
  gap: 50px;
  justify-content: center;
}

#network{
  flex-direction: row;
  margin-top: 10px;
  display: inline-flex;
  gap: 50px;
  justify-content: center;
}

#rightpart{
  justify-content: center;
  background-color: #686B6A;
  display: flex;
  padding: 15px;
  flex-direction: column;
  border-radius: 0px 40px 40px 0px;
}

#img_html5{
  height: 100px;
}
#img_css{
  height: 100px;
}
#img_js{
  height: 100px;
}


p{
  font-size: 1em;
}
span{
  font-size: 1.5em;
  color: #B2B8B6;
}

.contour {
  background-color: #162857;
  background-size: 10px;
  border-radius: 10px 1em;
  height: auto;
}

#name{
  font-weight: bold;
}

#CITATIONS p{
  font-style: italic;
}

.contour2 {
  background-color: #162857;
  background-size: 10px;
  border-radius: 10px 1em;
  height: auto;
  display: block;
  color: #B2B8B6;
}